// html, body {
//   background: var(--d-0A0B0C-l-fff)
// }

.clickable {
  cursor: pointer;
  &:active {
    opacity: 0.5;
  }
}
.dropdown-lang {
  .el-dropdown-menu__item {
    &.active {
      color: #3f80f7;
    }
  }
}
.el-dialog__headerbtn:hover> .el-dialog__close {
  color: inherit !important;
}
.search-dialog.el-dialog {
  background: var(--dialog-bg);
  padding: 20px 0;
  .search-input {
    .el-input__wrapper {
      background-color: transparent;
      border-bottom: 1px solid var(--border);
      box-shadow: none;
      & :hover {
        box-shadow: none;
      }
      .el-input__inner::placeholder {
        color: var(--third-text);
      }
    }
    &.search-input2  .el-input__wrapper {
      padding-left: 0;
    }
  }
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.checkbox-old{
  .el-checkbox__label{
    color: var(--third-text);
  }
  .el-checkbox__input.is-checked {
    &+.el-checkbox__label{
      color: var(--third-text);
    }
  }
  .checkbox-FFCC00{
    .el-checkbox__input.is-checked {
      .el-checkbox__inner {
        background-color: #FFCC00;
        border-color: #FFCC00;
      }
    }
  }
  .checkbox-FFB6300{
    .el-checkbox__input.is-checked {
      .el-checkbox__inner {
        background-color: #FB6300;
        border-color: #FB6300;
      }
    }
  }

  .checkbox-D741E3{
    .el-checkbox__input.is-checked {
      .el-checkbox__inner {
        background-color: #D741E3;
        border-color: #D741E3;
      }
    }
  }
  .checkbox-3F80F7{
    .el-checkbox__input.is-checked {
      .el-checkbox__inner {
        background-color: #3F80F7;
        border-color: #3F80F7;
      }
    }
  }
  .checkbox-41CEE3{
    .el-checkbox__input.is-checked {
      .el-checkbox__inner {
        background-color: #41CEE3;
        border-color: #41CEE3;
      }
    }
  }

  .checkbox-C23531{
    .el-checkbox__input.is-checked {
      .el-checkbox__inner {
        background-color: #C23531;
        border-color: #C23531;
      }
    }
  }

  .checkbox-5E5CE6{
    .el-checkbox__input.is-checked {
      .el-checkbox__inner {
        background-color: #5E5CE6;
        border-color: #5E5CE6;
      }
    }
  }

}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
}
/* 隐藏原生清除图标 */
.search-input .el-input__clear {
  display: none !important;
}
debox-chat-widget {
  @media (max-width: 1920px){
    --debox-chat-height: 400px; /*
     缩放到 80% */
  }
}
.tooltip-pd-0.el-popper{
  padding: 0;
  line-height:0;
  border-radius: 16px;
  overflow: hidden;
  background: var(--d-111-l-FFF);
}

.hide-scrollbar {
  > .el-scrollbar {
    > .el-scrollbar__bar {
      --at-apply: hidden;
    }
  }
}


.wallet-connect.el-dialog {
  --el-dialog-border-radius: 36px;
  --el-dialog-title-font-size: 16px;
  .el-dialog__header {
    text-align: center;
    padding-left: 36px;
    padding-bottom: 16px;
    .el-dialog__title {
      font-weight: 600;
    }
  }
}
.m-radio-group{
  .el-radio-button .el-radio-button__original-radio:not(:disabled) + .el-radio-button__inner{
    border-color: var(--tab-active-bg);
  }
}
@media (max-width: 1920px) {
  .filter-height{
    height: 450px;
  }
}
.pump-platforms {
  .el-checkbox__label {
    display: flex;
    align-items: center;

  }
}

.x--tooltip.x--tooltip.x--tooltip {
  border-radius: 8px;
  background: #101A2B;
  padding: 0;
  overflow: hidden;
  max-height: 500px;
  overflow-y: auto;
}
.new-dialog.el-dialog, .new-popover.el-popover.el-popper, .el-drawer.draw-right{
  background: var(--dialog-bg);
  box-shadow: 0px 2px 10px 0px var(--d-17191E-l-D1D4D9);

}
.el-button, .el-input__wrapper{
  transition-property: background-color, border-color, color, box-shadow !important;
  transition-duration: 0s !important;
  transition-timing-function: linear !important;
}
/* 隐藏 el-scrollbar 自带的滚动条 */
.hidden-scrollbar .el-scrollbar__bar {
  display: none;
}

/* 同时隐藏浏览器默认滚动条 */
.hidden-scrollbar ::-webkit-scrollbar {
  display: none;
}
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE、Edge */
  scrollbar-width: none;     /* Firefox */
}
.pump-live-bg {
  .icon-live {
    display: none;
  }
  &:hover {
    .icon-live {
      display: flex;
    }
  }
}