:root {
  --primary-color: #3F80F7;
  --down-color: #F6465D;
  --up-color: #12B886;
  --yellow:#FFA622;
  --x-blue:#009EF7;
  --pump-green:#55D592;
  --signal-red:#E50000;
  --signal-green:#37B270;
  // 一级文字
  --main-text:var(--d-F5F5F5-l-111);
  // 二级文字
  --secondary-text:var(--d-A9B0BC-l-566275);
  // 三级文字
  --third-text:var(--d-566275-l-A9B0BC);
  // 图标插画颜色
  --icon-color:var(--d-383F4B-l-CAD6EC);
  // 主要背景
  --main-bg:var(--d-000-l-FFF);
  // 次要背景
  --secondary-bg:var(--d-0B0D12-l-F6F9FF);
  // 主页列表标题栏背景
  --main-list-header-bg:var(--d-151A22-l-E8F1FF);
  // 主页面列表悬浮色
  --main-list-hover:var(--d-151A22-l-E8F1FF);
  // 主页面输入框和按钮背景色
  --main-input-button-bg:var(--d-12161D-l-ECF3FF);
    // 弹窗背景
  --dialog-bg:var(--d-151A22-l-FFF);
  // 弹窗tab选中色
  --dialog-tab-active-bg:var(--d-383F4B-l-FFF);
  // 主页面分割线
  --main-divider:var(--d-151A22-l-E8F1FF);
  // 弹窗分割线
  --dialog-divider:var(--d-252E3C-l-E8F1FF);
  // 主页tab选中色
  --tab-active-bg:var(--d-252E3C-l-FFF);
  // 弹窗选中色&输入框&边框
  --border:var(--d-252E3C-l-D9E8FF);
  // 弹窗列表悬浮色
  --dialog-list-hover:var(--d-202834-l-E8F1FF);
  // 白色
  --white:#F5F5F5;
  // 反色
  --reverse-color:var(--d-111-l-F5F5F5);
  // 灰色按钮悬浮色
  --gray-button-hover:var(--d-212936-l-C3D1E5);
  // 蓝色按钮悬浮色
  --primary-button-hover:#3973DE;
  // 弹窗 Tab 选中色
  --dialog-tab-active:var(--d-383F4B-l-FFF);
  // 主页列表标题栏背景
  --table-title-bg:var(--d-12161D-l-ECF3FF);
  &.dark {
    // 规范：颜色相同省略为 3 位，所有都用大写
    --d-333-l-ECECEC: #333;
    --d-333-l-F5F5F5: #333;
    --d-111-l-FFF: #111;
    --d-222-l-F2F2F2: #222;
    --d-666-l-999: #666;
    --d-F5F5F5-l-333: #F5F5F5;
    --d-CCC-l-333: #ccc;
    --d-999-l-666: #999;
    --d-333-l-DDD: #333;
    --d-000-l-F6F6F6: #000;
    --d-151517-l-F6F6F6: #151517;
    --d-333-l-F2F2F2: #333;
    --d-222-l-FFF: #222;
    --d-666-l-959A9F:#666;
    //--d-333-l-F2F2F2: #333;
    --d-E9E9E9-l-222: #E9E9E9;
    --d-333-l-FFF: #333;
    --d-3F80F7-l-EAECEF: #3F80F7;
    --d-1D2232-l-3F80F7: #1D2232;
    --d-EAECEF-l-333: #EAECEF;
    --d-1D2232-l-F5F5F5: #1D2232;
    --d-2D3037-l-F5F5F5: #2D3037;
    --d-131722-l-FFF: #131722;
    --d-999-l-222:#999;
    --d-BCBED2-l-222:#BCBED2;
    --d-F5F5F5-l-222: #F5F5F5;
    --d-0A0B0C-l-F5F5F5: #0A0B0C;
    --d-17191C-l-F2F2F2: #17191C;
    --d-1F242A-l-F5F5F5: #1F242A;
    --d-282e35-l-e5e5e5: #282E35;
    --d-15171C-l-F6F6F6: #15171c;
    --d-FFF-l-000:#FFF;
    --d-FFF-l-F5F5F5: #FFF;
    --d-33353D-l-F5F5F5:#33353D;
    --d-999-l-959A9F:#999;
    --d-666-l-696E7C: #666;
    --d-33353D-l-f5f5f5: #33353D;
    --d-2A2A2A-l-F2F2F2: #2A2A2A;
    --d-FFFFFF0D-l-F2F2F2: #FFFFFF0D;
    --d-0C111C-l-E9F0FF: #0C111C;
    --d-0A1514-l-E7F8F3: #0A1514;
    --d-180F12-l-FEECEF: #180F12;
    --d-333333-l-eaecef: #333333;
    --d-eaecef-l-333333: #eaecef;
    --d-666-l-CCC:#666;
    --d-2D3037-l-999: #2D3037;
    --d-696E7C-l-fff: #696E7C;
    --d-222222-l-f5f5f5: #222;
    --d-222-l-f5f5f5: #222;
    --d-0a0b0d-l-fff: #0a0b0d;
    --d-333-l-666:#333;
    --d-F5F5F5-l-FFF:#F5F5F5;
    --d-666-l-333:#666;
    --d-15171c-l-f2f2f2: #15171c;
    --d-333-l-0A0B0C: #333;
    --d-1A1A1A-l-F2F2F2:#1A1A1A;
    --d-333333-l-F2F2F2: #333;
    --d-333333-l-DDDDDD: #333;
    --d-666-l-FFFF: #666;
    --d-F5F5F5-l-999999: #F5F5F5;
    --d-333-l-00008: #333;
    --d-333-l-999: #333;
    --d-333-l-00008: #333;
    --d-FFF-l-333: #FFF;
    --d-1A1A1A-l-FFF: #1A1A1A;
    --d-FFFFFF14-l-00000014: #FFFFFF14;
    --d-333-l-CCC: #333;
    --d-12B8861A-l-12B8862A: #12B8861A;
    --d-F2F2F2-l-333: #F2F2F2;
    --d-15171C-l-F8F8F8: #15171C;
    --d-CCC-l-333: #CCC;
    --d-CCC-l-F5F5F5: #CCC;
    --d-666-l-D8D8D8: #666666;
    --d-333333-l-F2F2F2:#333333;
    --d-17191C-l-FFF: #17191C;
    --d-1A1A1A-l-fafafa:#1A1A1A;
    --d-333-l-f5f7fa: #333;
    --d-111-l-F8F8F8: #111111;
    --d-000-l-FFF: #000;
    //switch on color
    --d-1F3156-l-D2E0F7:#1F3156;
    --d-F5F5F5-l-666: #F5F5F5;
    --d-222-l-F6F6F6: #222;
    --d-333-l-EEE: #333;
    --d-333-l-F5F7FA: #333;
    --d-E9E9E9-l-333: #E9E9E9;
    --d-fff-l-f5f5f5: #FFF;
    --d-333-l-D8D8DC: #333;
    --d-444-l-DDD: #444;
    --d-566275-l-8CA0C3: #566275;
    --d-141721-l-E8F1FF: #141721;
    --d-151A22-l-E8F1FF: #151A22;
    --d-0B0D12-l-F6F9FF: #0B0D12;
    --d-8CA0C3-l-566275: #8CA0C3;
    --d-F5F5F5-l-111: #F5F5F5;
    --d-F5F5F5-l-0B0D12: #F5F5F5;
    --d-FCFDFF-l-333: #FCFDFF;
    --d-FCFDFF-l-999: #FCFDFF;
    --d-17191E-l-D1D4D9: #17191E;
    --d-252E3C-l-FFF: #252E3C;
    --d-252E3C-l-E8F1FF: #252E3C;
    --d-252B34-l-CAD6EC: #252B34;
    --d-252B34-l-E8F1FF: #252B34;
    --d-151A22-l-FFF: #151A22;
    --d-CCC-l-666: #CCC;
    --d-252E3C-l-D9E8FF: #252E3C;
    --d-111-l-F5F5F5: #111;
    --d-566275-l-252E3C: #566275;
    --d-252E3C-l-566275: #252E3C;
    --d-0B0D12-l-FFF: #0B0D12;
    --d-FFF-l-111: #FFF;
    --d-FFFFFF08-l-33333308: #FFFFFF08;
    --d-212936-l-C3D1E5: #212936;
    --d-383F4B-l-FFF: #383F4B;
    --d-383F4B-l-CAD6EC: #383F4B;
    --d-12161D-l-ECF3FF: #12161D;
    --d-202834-l-E8F1FF: #202834;
    --d-252E3C-l-D9E8FF: #252E3C;
    --d-C3C9D2-l-566275: #C3C9D2;
    --d-566275-l-B1BBCB: #566275;
    --d-A9B0BC-l-566275: #A9B0BC;
    --d-566275-l-A9B0BC: #566275;
    --d-172521-l-DEF4EF: #172521;
    --d-281915-l-F7E2DD: #281915;
    --d-252914-l-F3FADC: #252914;
    --d-0E2619-l-D1F5E3: #0E2619;
    --d-28211D-l-F7EEE9: #28211D;
    --d-281B2C-l-F7E5FF: #281B2C;
    --d-19161D-l-E1DDE9: #19161D;
    --d-281915-l-D1F4DF: #281915;
    --d-24211E-l-F1EEEA: #24211E;
    --d-282116-l-F7EFDF: #282116;
  }

  &.light {
    --d-666-l-959A9F:#959A9F;
    --d-333-l-ECECEC: #ececec;
    --d-333-l-F5F5F5: #f5f5f5;
    --d-111-l-FFF: #fff;
    --d-222-l-F2F2F2: #F2F2F2;
    --d-666-l-999: #999;
    --d-F5F5F5-l-333: #333;
    --d-CCC-l-333: #333;
    --d-999-l-666: #666;
    --d-333-l-DDD: #DDD;
    --d-000-l-F6F6F6: #f6f6f6;
    --d-151517-l-F6F6F6: #f6f6f6;
    --d-333-l-F2F2F2: #F2F2F2;
    --d-222-l-FFF: #FFF;
    --d-E9E9E9-l-222: #222;
    --d-333-l-FFF: #FFF;
    --d-3F80F7-l-EAECEF: #EAECEF;
    --d-1D2232-l-3F80F7: #3F80F7;
    --d-EAECEF-l-333: #333;
    --d-1D2232-l-F5F5F5: #F5F5F5;
    --d-2D3037-l-F5F5F5: #F5F5F5;
    --d-F5F5F5-l-222: #222;
    --d-131722-l-FFF: #FFF;
    --d-999-l-222: #222;
    --d-BCBED2-l-222: #222;
    --d-0A0B0C-l-F5F5F5: #F5F5F5;
    --d-17191C-l-F2F2F2: #F2F2F2;
    --d-1F242A-l-F5F5F5: #F5F5F5;
    --d-282e35-l-e5e5e5: #E5E5E5;
    --d-15171C-l-F6F6F6: #F6F6F6;
    --d-FFF-l-000: #000;
    --d-FFF-l-F5F5F5: #F5F5F5;
    --d-33353D-l-F5F5F5:#F5F5F5;
    --d-999-l-959A9F:#959A9F;
    --d-666-l-696E7C: #696E7C;
    --d-33353D-l-f5f5f5: #F5F5F5;
    --d-2A2A2A-l-F2F2F2: #F2F2F2;
    --d-FFFFFF0D-l-F2F2F2: #F2F2F2;
    --d-0C111C-l-E9F0FF: #E9F0FF;
    --d-0A1514-l-E7F8F3: #E7F8F3;
    --d-180F12-l-FEECEF: #FEECEF;
    --d-333333-l-eaecef: #eaecef;
    --d-eaecef-l-333333: #333333;
    --d-666-l-CCC:#CCC;
    --d-2D3037-l-999: #999;
    --d-696E7C-l-fff: #FFF;
    --d-222222-l-f5f5f5: #F5F5F5;
    --d-222-l-f5f5f5: #F5F5F5;
    --d-0a0b0d-l-fff: #fff;
    --d-333-l-666:#666;
    --d-F5F5F5-l-FFF:#FFF;
    --d-666-l-333:#333;
    --d-15171c-l-f2f2f2: #f2f2f2;
    --d-333-l-0A0B0C: #0a0b0c;
    --d-1A1A1A-l-F2F2F2:#F2F2F2;
    --d-333333-l-F2F2F2: #F2F2F2;
    --d-333333-l-DDDDDD: #DDD;
    --d-666-l-FFFF: #FFFF;
    --d-F5F5F5-l-999999: #999;
    --d-333-l-00008: rgba(0, 0, 0, 0.08);
    --d-FFF-l-333: #333;
    --d-F2F2F2-l-333: #333;
    --d-15171C-l-F8F8F8: #F8F8F8;
    --d-1A1A1A-l-FFF: #FFF;
    --d-FFFFFF14-l-00000014: #00000014;
    --d-333-l-CCC: #CCC;
    --d-333-l-999: #999;
    --d-12B8861A-l-12B8862A: #12B8862A;
    --d-CCC-l-333: #333;
    --d-CCC-l-F5F5F5: #F5F5F5;
    --d-F2F2F2-l-333: #333;
    --d-15171C-l-F8F8F8: #F8F8F8;
    --d-666-l-D8D8D8: #d8d8d8;
    --d-333333-l-F2F2F2:#F2F2F2;
    --d-17191C-l-FFF: #FFF;
    --d-1A1A1A-l-fafafa:#fafafa;
    --d-333-l-f5f7fa: #f5f7fa;
    --d-111-l-F8F8F8: #F8F8F8;
    --d-000-l-FFF: #fff;
    --d-1F3156-l-D2E0F7:#D2E0F7;
    --d-F5F5F5-l-666: #666;
    --d-222-l-F6F6F6: #F6F6F6;
    --d-333-l-EEE: #EEE;
    --d-333-l-F5F7FA: #F5F7FA;
    //switch on color
    --d-E9E9E9-l-333: #333;
    --d-fff-l-f5f5f5: #F5F5F5;
    --d-333-l-D8D8DC: #D8D8DC;
    --d-444-l-DDD: #DDD;
    --d-566275-l-8CA0C3: #8CA0C3;
    --d-141721-l-E8F1FF: #E8F1FF;
    --d-151A22-l-E8F1FF: #E8F1FF;
    --d-0B0D12-l-F6F9FF: #F6F9FF;
    --d-8CA0C3-l-566275: #566275;
    --d-F5F5F5-l-111: #111;
    --d-F5F5F5-l-0B0D12: #0B0D12;
    --d-FCFDFF-l-333: #333;
    --d-FCFDFF-l-999: #999;
    --d-17191E-l-D1D4D9: #D1D4D9;
    --d-252E3C-l-FFF: #FFF;
    --d-252E3C-l-E8F1FF: #E8F1FF;
    --d-252B34-l-CAD6EC: #CAD6EC;
    --d-252B34-l-E8F1FF: #E8F1FF;
    --d-151A22-l-FFF: #FFF;
    --d-CCC-l-666: #666;
    --d-252E3C-l-D9E8FF: #D9E8FF;
    --d-111-l-F5F5F5: #F5F5F5;
    --d-566275-l-252E3C: #252E3C;
    --d-252E3C-l-566275: #566275;
    --d-0B0D12-l-FFF: #FFF;
    --d-FFF-l-111: #111;
    --d-FFFFFF08-l-33333308: #33333308;
    --d-212936-l-C3D1E5: #C3D1E5;
    --d-383F4B-l-FFF: #FFF;
    --d-383F4B-l-CAD6EC: #CAD6EC;
    --d-12161D-l-ECF3FF: #ECF3FF;
    --d-202834-l-E8F1FF: #E8F1FF;
    --d-252E3C-l-D9E8FF: #D9E8FF;
    --d-C3C9D2-l-566275: #566275;
    --d-566275-l-B1BBCB: #B1BBCB;
    --d-A9B0BC-l-566275: #566275;
    --d-566275-l-A9B0BC: #A9B0BC;
    --d-172521-l-DEF4EF: #DEF4EF;
    --d-281915-l-F7E2DD: #F7E2DD;
    --d-252914-l-F3FADC: #F3FADC;
    --d-0E2619-l-D1F5E3: #D1F5E3;
    --d-28211D-l-F7EEE9: #F7EEE9;
    --d-281B2C-l-F7E5FF: #F7E5FF;
    --d-19161D-l-E1DDE9: #E1DDE9;
    --d-281915-l-D1F4DF: #D1F4DF;
    --d-24211E-l-F1EEEA: #F1EEEA;
    --d-282116-l-F7EFDF: #F7EFDF;
  }
}


